.background{
    background-color:rgb(48, 48, 48);
}
#links{
    text-align:center;
}

.menu{
    overflow: hidden;
    background-color: rgb(48, 48, 48);
    position:fixed;
    top:0;
    width:100%;
    border:#000000;
    border-radius:2px;
    z-index:2;
}
  
.menu a {
    float: left;
    text-align: center;
    font-family:Bebas Neue;
    padding: 14px 30px;
    font-size: 25px;
    color: #f2f2f2;
    text-decoration:none;
}
  
.menu a:hover {
    background-color: #ddd;
    color: black;
}
  
.menu a.active {
    background-color: #000000;
    color: white;
}

#line-height{
    line-height:3px;
}
.concert{
    display:flex;
    padding:1%;
    position:relative;
    flex-grow:1;
    flex-basis:47%;
    flex-direction:column;
    flex-flow:column ;
}

.dates{
    font-family: Bebas Neue;
    font-size:50px;
    color:white;
    margin-right:3%;
    margin-left:3%;
    display:inline-block;
}

.time{
    color:white;
    font-size:50px;
    font-family: Bebas Neue;
    display:inline-block;

}

.location{
    color:white;
    font-size:50px;
    font-family: Bebas Neue;
    display:inline-block;
    margin-left:3%
}

.upcoming{
    margin-left:3%;
}

h1{
    color:white;
    font-size:100px;
    font-family: Bebas Neue;
}

#description{
    color:white;
    font-family: Bebas Neue;
    margin-right:45%;
    text-align:left;
    font-size:55px;
}
.title{
    color:white;
    font-family: Bebas Neue;
    text-align:center;
}

.header{
    color:white;
    font-family:Bebas Neue;
}

.text{
    color:white;
    font-family:Asap Condensed;
}

h3{
    color:white;
    font-family: Bebas Neue;
    text-align:center;
}

.album{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-center{
    text-align:center;
}

.container{
    display:flex;
    width:100%;
    flex-wrap:wrap;
  }

.split{
    display:flex;
    padding:1%;
    position:relative;
    flex-grow:1;
    flex-basis:47%;
    flex-direction:column;
}
.split2{
    display:flex;
    padding:1%;
    position:relative;
    flex-grow:1;
    flex-basis:47%;
    flex-direction:row;
}

.socials{
    display:flex;
    padding:1%;
    position:relative;
    flex-grow:1;
    flex-basis:22%;
    flex-direction:column;
    text-align:center;
}

img{
    max-width:100%;
    height:auto;
    z-index:-1;
}

button{
    font-family:Asap Condensed;
    align-self:center;
    background-color:white;
    border-radius:5px;
    padding-top:10px;
    padding-bottom:10px;
    width: 50%;
}