#background{
    background-color:rgb(48, 48, 48)
}

h1{
    color:white;
    font-size:100px;
    font-family: Bebas Neue
}

#description{
    color:white;
    font-family: Bebas Neue;
    margin-right:30%;
    text-align:left;
}

.text-center{
    text-align:center;
}

.container{
    display:flex;
    width:100%;
    flex-wrap:wrap;
  }

.split{
    display:flex;
    padding:1%;
    position:relative;
    flex-grow:1;
    flex-basis:47%;
    flex-direction:column;
}

img{
    max-width:100%;
    height:auto;
}